@import "tailwindcss";

/* fonts */
@font-face {
  font-family: "Tajawal";
  src: url("../assets/fonts/Tajawal/Tajawal-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Tajawal";
  src: url("../assets/fonts/Tajawal/Tajawal-Medium.ttf") format("truetype");
  font-weight: 500; /* Medium weight */
  font-style: normal;
}

@font-face {
  font-family: "Tajawal";
  src: url("../assets/fonts/Tajawal/Tajawal-Black.ttf") format("truetype");
  font-weight: 900; /* Black weight */
  font-style: normal;
}

@font-face {
  font-family: "Tajawal";
  src: url("../assets/fonts/Tajawal/Tajawal-Bold.ttf") format("truetype");
  font-weight: bold; /* Bold weight */
  font-style: normal;
}

@font-face {
  font-family: "Tajawal";
  src: url("../assets/fonts/Tajawal/Tajawal-ExtraBold.ttf") format("truetype");
  font-weight: 800; /* Extra Bold weight */
  font-style: normal;
}

@font-face {
  font-family: "Tajawal";
  src: url("../assets/fonts/Tajawal/Tajawal-ExtraLight.ttf") format("truetype");
  font-weight: 200; /* Extra Light weight */
  font-style: normal;
}

@font-face {
  font-family: "Tajawal";
  src: url("../assets/fonts/Tajawal/Tajawal-Light.ttf") format("truetype");
  font-weight: 300; /* Light weight */
  font-style: normal;
}

@font-face {
  font-family: "Tajawal";
  src: url("../assets/fonts/Tajawal/Tajawal-SemiBold.ttf") format("truetype");
  font-weight: 600; /* Semi Bold weight */
  font-style: normal;
}

@font-face {
  font-family: "Tajawal";
  src: url("../assets/fonts/Tajawal/Tajawal-Thin.ttf") format("truetype");
  font-weight: 100; /* Thin weight */
  font-style: normal;
}

/* General var */
:root {
  --text-factor: 1;
}

/* Light mode */
:root {
  /* color pallet */
  --primary: #005bbb;
  --secondary: #a3d3f5;

  
  /* backgrounds */
  --primary-bg: #e5e5e5;
  --secondary-bg: #d1d1d6;
  --tertiary-bg: #ffffff;
  --quaternary-bg: #333333;
  --quinary-bg: #ada7a7;
  --senary-bg: #1c2026; 
  --popup-bg: #14191e;

  /* foreground */
  --primary-fg: #333333;
  --secondary-fg: #000000;
  --quaternary-fg: #ffffff;
  --inverse-fg: #ffffff;
  --header-fg: #333333;

  /* status*/
  --success: #34c759;
  --error: #c1272d;

  /* borders */
  --primary-border: #333333;
  --secondary-border: #ada7a7;
  --tertiary-border: #d9d9d9;
  --quaternary-border: #828282;

  /* input */
  --input-bg: #ffffff;
  --placeholder: #ada7a7;
  --placeholder-secondary: #ada7a7;

  /* icons */
  --primary-icon: #b3b3b3;

  /* overlay */
  --primary-overlay: #00000026;

  /* shadows */
  --primary-shadow: 0px 3.63px 3.63px 0px #00000080;
  --navbar-shadow: 0px 4px 4px 0px #00000040;
  --accordion-shadow: 0px 5px 4px 0px #00000087;
  --shadow-xs: 0px 1px 2px 0px #010d120d;
}

/* Dark mode */
.dark:root {
  /* color pallet */
  --primary: #005bbb;
  --secondary: #a3d3f5;

  /* backgrounds */
  --primary-bg: #e5e5e5;
  --secondary-bg: #d1d1d6;
  --tertiary-bg: #ffffff;
  --quaternary-bg: #333333;
  --quinary-bg: #ada7a7;
  --senary-bg: #1c2026; 
  --popup-bg: #14191e;

  /* foreground */
  --primary-fg: #333333;
  --secondary-fg: #000000;
  --quaternary-fg: #ffffff;
  --inverse-fg: #ffffff;
  --header-fg: #333333;

  /* status*/
  --success: #34c759;
  --error: #c1272d;

  /* borders */
  --primary-border: #333333;
  --secondary-border: #ada7a7;
  --tertiary-border: #d9d9d9;
  --quaternary-border: #828282;
  --pentagon-border:#ADA7A7;

  /* input */
  --input-bg: #ffffff;
  --placeholder: #ada7a7;
  --placeholder-secondary: #ada7a7;

  /* icons */
  --primary-icon: #b3b3b3;

  /* overlay */
  --primary-overlay: #00000026;

  /* shadows */
  --primary-shadow: 0px 3.63px 3.63px 0px #00000080;
  --navbar-shadow: 0px 4px 4px 0px #00000040;
  --accordion-shadow: 0px 5px 4px 0px #00000087;
  --shadow-xs: 0px 1px 2px 0px #010d120d;
}

@theme {

  /* Text size */
  --text-size3: calc(0.1675rem * var(--text-factor));
  --text-size4: calc(0.25rem * var(--text-factor));
  --text-size5: calc(0.3125rem * var(--text-factor));
  --text-size6: calc(0.375rem * var(--text-factor));
  --text-size7: calc(0.4375rem * var(--text-factor));
  --text-size8: calc(0.5rem * var(--text-factor));
  --text-size9: calc(0.5625rem * var(--text-factor));
  --text-size10: calc(0.625rem * var(--text-factor));
  --text-size11: calc(0.6875rem * var(--text-factor));
  --text-size12: calc(0.75rem * var(--text-factor));
  --text-size13: calc(0.8125rem * var(--text-factor));
  --text-size14: calc(0.875rem * var(--text-factor));
  --text-size15: calc(0.9375rem * var(--text-factor));
  --text-size16: calc(1rem * var(--text-factor));
  --text-size17: calc(1.0625rem * var(--text-factor));
  --text-size18: calc(1.125rem * var(--text-factor));
  --text-size19: calc(1.1875rem * var(--text-factor));
  --text-size20: calc(1.25rem * var(--text-factor));
  --text-size21: calc(1.3125rem * var(--text-factor));
  --text-size22: calc(1.375rem * var(--text-factor));
  --text-size23: calc(1.4375rem * var(--text-factor));
  --text-size24: calc(1.5rem * var(--text-factor));
  --text-size25: calc(1.5625rem * var(--text-factor));
  --text-size26: calc(1.625rem * var(--text-factor));
  --text-size27: calc(1.6875rem * var(--text-factor));
  --text-size28: calc(1.75rem * var(--text-factor));
  --text-size29: calc(1.8125rem * var(--text-factor));
  --text-size30: calc(1.875rem * var(--text-factor));
  --text-size31: calc(1.9375rem * var(--text-factor));
  --text-size32: calc(2rem * var(--text-factor));
  --text-size33: calc(2.0625rem * var(--text-factor));
  --text-size34: calc(2.125rem * var(--text-factor));
  --text-size35: calc(2.1875rem * var(--text-factor));
  --text-size36: calc(2.25rem * var(--text-factor));
  --text-size37: calc(2.3125rem * var(--text-factor));
  --text-size38: calc(2.375rem * var(--text-factor));
  --text-size39: calc(2.4375rem * var(--text-factor));
  --text-size40: calc(2.5rem * var(--text-factor));
  --text-size41: calc(2.5625rem * var(--text-factor));
  --text-size42: calc(2.625rem * var(--text-factor));
  --text-size43: calc(2.6875rem * var(--text-factor));
  --text-size44: calc(2.75rem * var(--text-factor));
  --text-size45: calc(2.8125rem * var(--text-factor));
  --text-size46: calc(2.875rem * var(--text-factor));
  --text-size47: calc(2.9375rem * var(--text-factor));
  --text-size48: calc(3rem * var(--text-factor));
  --text-size49: calc(3.0625rem * var(--text-factor));
  --text-size50: calc(3.125rem * var(--text-factor));
  --text-size51: calc(3.1875rem * var(--text-factor));
  --text-size52: calc(3.25rem * var(--text-factor));
  --text-size53: calc(3.3125rem * var(--text-factor));
  --text-size54: calc(3.375rem * var(--text-factor));
  --text-size55: calc(3.4375rem * var(--text-factor));
  --text-size56: calc(3.5rem * var(--text-factor));
  --text-size57: calc(3.5625rem * var(--text-factor));
  --text-size58: calc(3.625rem * var(--text-factor));
  --text-size59: calc(3.6875rem * var(--text-factor));
  --text-size60: calc(3.75rem * var(--text-factor));
  --text-size61: calc(3.8125rem * var(--text-factor));
  --text-size62: calc(3.875rem * var(--text-factor));
  --text-size63: calc(3.9375rem * var(--text-factor));
  --text-size64: calc(4rem * var(--text-factor));
  --text-size144: calc(9rem * var(--text-factor));

  /* color pallet */
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  /* backgrounds */
  --color-primary-bg: var(--primary-bg);
  --color-secondary-bg: var(--secondary-bg);
  --color-tertiary-bg: var(--tertiary-bg);
  --color-quaternary-bg: var(--quaternary-bg);
  --color-quinary-bg: var(--quinary-bg);
  --color-senary-bg: var(--senary-bg);
  --color-popup-bg: var(--popup-bg);

  /* foreground */
  --color-primary-fg: var(--primary-fg);
  --color-secondary-fg: var(--secondary-fg);
  --color-quaternary-fg: var(--quaternary-fg);
  --color-inverse-fg: var(--inverse-fg);
  --color-header-fg: var(--header-fg);

  /* status*/
  --color-success: var(--success);
  --color-error: var(--error);



  /* borders */
  --color-primary-border: var(--primary-border);
  --color-secondary-border: var(--secondary-border);
  --color-tertiary-border: var(--tertiary-border);
  --color-quaternary-border: var(--quaternary-border);
  --color-input-border:var(--pentagon-border);

  /* input */
  --color-input-bg: var(--input-bg);
  --color-placeholder: var(--placeholder);
  --color-placeholder-secondary: var(--placeholder-secondary);

  /* icons */
  --color-primary-icon: var(--primary-icon);

  /* overlay */
  --color-primary-overlay: var(--primary-overlay);

  /* shadows */
  --shadow-xs: var(--shadow-xs);
  --shadow-primary-shadow: var(--primary-shadow);
  --shadow-navbar-shadow: var(--navbar-shadow);
  --shadow-accordion-shadow: var(--accordion-shadow);


  /* spaces */
  --spacing-xxs: 2px;
  --spacing-xs: 4px;
  --spacing-sm: 6px;
  --spacing-md: 8px;
  --spacing-lg: 12px;
  --spacing-xl: 16px;
  --spacing-2xl: 20px;
  --spacing-3xl: 24px;
  --spacing-4xl: 32px;
  --spacing-5xl: 40px;
  --spacing-6xl: 48px;
  --spacing-7xl: 64px;
  --spacing-8xl: 80px;
  --spacing-9xl: 96px;
  --spacing-10xl: 112px;
  --spacing-11xl: 160px;
  --spacing-container-max-width-desktop: 1280px;
  --spacing-container-padding-mobile: 16px;
  --spacing-container-padding-desktop: 32px;
}

@layer components {
  .custom-input {
    @apply flex-1 p-3 py-[6px] text-primary/90 rounded-[6px] overflow-auto outline-none focus-visible:outline-none;
  }

  .custom-select {
    @apply flex-1 p-3 py-[6px] text-primary/90;
  }
}
